.intro {
  padding-top: 30px;
  padding-bottom: 57px;

  @media (min-width: 767px) {
    adding-top: 600px;
    padding-bottom: 87px;
  }

  @media (min-width: 990px) {
    padding: 133px 0;
  }
}

.intro--halfed {
  @media (min-width: 767px) {
    width: 50%;
    margin-left: auto;
  }
}

.intro__container {
  @media (min-width: 1110px) {
    padding: 0 100px 0 20px;
  }
}


.intro__title {
  padding: 0 15px;
  font-size: 21px;
  line-height: 30px;
  border-left: 3px solid $primary-color;
  margin-bottom: 20px;

  span {
    font-weight: 900;
  }
}

.intro__description {
  font-size: 14px;
  line-height: 20px;

  span {
    font-weight: 900;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 21px;
  gap: 17px 20px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 767px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.intro__item {
  padding-left: 25px;
  position: relative;
  display: flex;
  column-gap: 10px;

  &:last-child {
    .intro__text {
      max-width: 140px;
      padding-top: 5px;
    }
  }
}

.intro__icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  fill: $primary-color;
}

.intro__text {
  max-width: 130px;
}


.intro__button {
  @media (min-width:767px) {
    max-width: 179px;
  }
}
