.main--loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
}



.loading-page {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;

  &__body {
    max-width: 655px;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-size: 21px;
    font-weight: 900;
    line-height: 27px;
    margin-bottom: 10px;

    @media (min-width: 767px) {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 20px;
    }

  }

  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;

    @media (min-width: 767px) {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 20px;
    }

  }

}

.loading-page__progress {
  margin-bottom: 10px;

  @media (min-width: 767px) {
    margin-bottom: 20px;
  }
}
