* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:focus-visible:active {
  outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  line-height: 1;
  font-family: "Futura", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

body {

  @media (max-width: 767px) {
    &.lock {
      overflow: hidden;
    }
  }
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $main-bg;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1010px;
}
