$main-bg: #323338;
$secondary-bg: #232429;
$input-bg: #28292e;
$primary-color: #f48c0c;
$hover-color: #f45202;
$active-color: #f44400;

@import "null.scss";
@import "fonts.scss";
@import "ui-kit.scss";
@import "header.scss";
@import "footer.scss";
@import "BEM-blocks.scss";
@import "intro.scss";
@import "appartment-choice.scss";
@import "loading-page.scss";
@import "user-form.scss";
@import "thank.scss";




.wrapper {
  position: relative;
}
