$main-bg: #323338;
$secondary-bg: #232429;
$input-bg: #28292e;
$primary-color: #f48c0c;
$hover-color: #f45202;
$active-color: #f44400;

@import "null.scss";
@import "fonts.scss";
@import "ui-kit.scss";
@import "header.scss";
@import "footer.scss";
@import "BEM-blocks.scss";
@import "intro.scss";
@import "appartment-choice.scss";
@import "loading-page.scss";

.intro {
  position: relative;
}

.intro__container {}


.wrapper {
  position: relative;
}

.intro-bg {}



.intro-bg::before {
  position: static;
  content: "";
  background: url("../img/mobile/hero_bg-mobile.jpg") center / cover;
  min-height: 200px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;


  @media (min-width: 767px) {
    position: absolute;
    background: url("../img/desktop/hero_bg-desktop.jpg") center / cover no-repeat;
    left: -100%;
    height: 100vh;
  }
}

.intro-bg--user-info {
  &::before {
    position: absolute;
    opacity: 0.1;
  }

  @media (max-width: 767px) {
    padding-top: 80px;
  }
}

.intro-bg--disabled::before {
  display: none;
}
